/* .justify-content-end{ */
    /* flex: auto; */
/* } */

body{
    background-image: url("./images/bgimage.jpeg");
background-size: cover;
}
.card{
    border: plum 1px solid;
    padding: 10px;
} 

.row{ 
    padding: 8px;
}

.navbar a:link{
    font-weight: bold;
    font: black;
}

p{
    padding:3px;
}

.container{
    padding: 5%;
    margin-bottom:50px;
}

.footer-margin{
    height: 100px;
}

/* .navbar-brand{
    display:inline; */
/* } */

.footer{
    position: fixed;
    bottom:0px;
    height:70px;
    width:100%;
    background-color:grey;
    border-top: plum 1px solid;
}
    
.navbar-brand {
    display: none !important;
  }
 
    
    


@media screen and (max-width: 768px) {
    .row {
      display:block;
      float:none;
      
    }}

    .card{
        display:block;
        float:none;
        margin: 10px;
    }
    .card1{
        width:100%;
        background-color:white;
        border-bottom:plum 1px solid;
    }


    
    .footer{
        display:block;
        float:none;
    }

   
        
         /*Hide Hamburger, Show Desktop*/
 
  
  @media only screen and (max-width: 768px) {
  #navbarSupportedContent20 .navbar-brand  {
  display: inline !important;}
  }
  .card1 {
    display: none !important;
  }
      